{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
			<h2 class="text-center">Liste des tricks</h2>
			<div class="col"></div>
		</div>
	</div>
{% endblock %}
