#hero {
    width: 100%;
    align-items: center;
    position: relative;
}

body {
    background-color: #DCD5D4;
}

.down {
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.up {
    font-size: 4rem;
    float: right;
    margin-top: -100px;
}