#hero {
    width: 100%;
    align-items:center;
    position: relative;
}

body {
    background-color: #DCD5D4;
}

.div {
    background-color: #FFFFFF;
}

.card {
   width: 220px;
   height: 270px;
}

#pagination {
    justify-content: center;
}

#down {
    font-size: 5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

#up {
    font-size: 5em;
    float: right;
    margin-top: -100px;
}
