#hero {
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
}

body {
    background-color: #DCD5D4;
}

.down {
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.up {
    font-size: 3rem;
    float: right;
}

#comments {
    position: relative;
    left: 40%;
}