<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<h1>Plus qu'une étape pour activer votre compte</h1>
	<p>Bonjour
		{{ user.username}}.</p>
	<p>Afin de finaliser votre inscription et activer votre compte, cliquez sur le lien ci-dessous:</p>
	<p>
		<a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a>
	</p>
	<p>Ce lien expirera dans 3 heures.</p>
</body></html>
